{{template "base" .}}
{{define "title"}} Hotel_Description {{end}}
{{define "body"}}  
  <div class="description-container"> 
    <div class="description-container1">
      <div class="description-hero">
        <div class="description-foto">
          <h1 class="description-heading"><span>&lt;</span></h1>
          <h1 class="description-heading1">&gt;</h1>
        </div>
        <div class="description-container2">
          <div class="description-container3">
            <h1 class="description-text01"><span>Hotel Banana</span></h1>
            <h1 class="description-text03">//Quarto</h1>
          </div>
          <span class="description-text04">
            <span>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                volutpat turpis.
              </span>
              <span></span>
            </span>
            <span>
              <span>
                Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
                Lorem
              </span>
              <span></span>
            </span>
            <span>
              <span>ipsum dolor sit amet, consectetur adipiscing elit.</span>
              <span></span>
            </span>
            <br />
            <span></span>
            <br />
            <span>
              <span>
                Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              </span>
              <span></span>
            </span>
          </span>
          <h1 class="description-text18">Preço:Dinheiro/Dia</h1>
          <div class="description-btn-group">
            <button class="description-button button">Alugar</button>
            <button class="description-button1 button">
              Escolher Quantos dias sei la
            </button>
          </div>
        </div>
      </div>
      <div class="description-container4">
        <h1 class="description-heading2">
          <span>Alguma coisa a mais</span>
          <span class="description-text20"></span>
          <span class="description-text21">&amp;#8203;</span>
        </h1>
      </div>
    </div>
    <div class="description-container5">
      <span class="description-text22">Comentarios:</span>
      <div class="itemcoment-blog-post-card itemcoment-root-class-name">
        <div class="itemcoment-container">
          <span class="itemcoment-text">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
              dignissim tortor. Lorem ipsum dolor sit amet, consectetur
              adipiscing ...
            </span>
          </span>
          <div class="itemcoment-bottom">
            <div class="itemcoment-profile">
              <img
                alt="profile"
                src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&h=1200"
                class="itemcoment-image"
              />
              <span class="itemcoment-text1"><span>Jane Doe</span></span>
            </div>
            <span class="itemcoment-text2"><span>32/13/2077</span></span>
          </div>
        </div>
      </div>
    </div>
  </div> 