{{template "base" .}}
{{define "title"}} Passagens {{end}}
{{define "body"}}  
  <div class="filtro-ticket-container">
    <div class="filtro-ticket-body">
      <div class="filtro-ticket-lateral">
        <div class="filtro-ticket-particao">
          <div class="filtro-ticket-checkbox">
            <input
              type="checkbox"
              checked="false"
              class="filtro-ticket-checkbox1"
            />
            <span class="filtro-ticket-text">Text</span>
          </div>
        </div>
      </div>
      <div class="filtro-ticket-item-place">
        <div class="filtro-ticket-container1">
          <div class="item-hotel-blog-post-card item-hotel-root-class-name3">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1547841243-eacb14453cd9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxjaXR5fGVufDB8fHx8MTYyNjE4NjYxMg&ixlib=rb-1.2.1&h=400"
              class="item-hotel-image"
            />
            <div class="item-hotel-container">
              <div class="item-hotel-container1">
                <span class="item-hotel-text"><span>Pais</span></span>
                <div class="item-hotel-container2"></div>
                <span class="item-hotel-text1"><span>City</span></span>
              </div>
              <span class="item-hotel-text2"><span>Nome Hotel</span></span>
              <div class="item-hotel-container3">
                <span class="item-hotel-text3"><span>5/5</span></span>
                <span class="item-hotel-text4"><span>R$ Dinheiros</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 