<div>
  <link href="./item-ticket.css" rel="stylesheet" />
  <div class="item ticket-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=1500"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="item ticket-image"
    />
    <div class="item ticket-container">
      <div class="item ticket-container1">
        <span class="item ticket-text"><span>Pais</span></span>
        <div class="item ticket-container2"></div>
        <span class="item ticket-text1"><span>Cidade</span></span>
      </div>
      <h1 class="item ticket-text2"><span>Nome</span></h1>
      <textarea placeholder="placeholder" class="textarea"></textarea>
      <span class="item ticket-text3"><span></span></span>
      <div class="item ticket-container3">
        <div class="item ticket-rating-place">
          <span class="item ticket-text4"><span>5/5</span></span>
        </div>
        <span class="item ticket-preo"><span>R$:20000.30</span></span>
      </div>
    </div>
  </div>
</div>
